<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="_csrf" data-th-if="${_csrf != null and _csrf.token != null}" data-th-content="${_csrf.token}"/>
    <meta name="_csrf_header" data-th-if="${_csrf != null and _csrf.headerName != null}" data-th-content="${_csrf.headerName}"/>
    <link rel="stylesheet" data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>


<style>
    iframe.frame {
        width: 100%;
        min-height: 300px;
        height: 50%;
        border: none;
        padding-top: 10px;
    }

    ;
</style>
<body>

<h1>Spring Boot with Spring Batch Demo</h1>

<div data-th-unless="${jobName}">
    <iframe class="frame" data-th-src="@{'/batch/overview.html'}"></iframe>
</div>

<div data-th-if="${jobNmae}">
    <iframe class="frame"
            data-th-src="@{'/batch/detail.html'(job=${jobName})}"></iframe>
</div>

</body>
</html>